body,h1,h2,h3,h4,h5,h6{
				margin:0;
				padding: 0;
			}
			a{
				text-decoration: none;
			}
			.head1{
				height: 28px;
				width:100%-400px;
				background: black;
				color: white;
				padding-left:200px;
				padding-right: 200px;
			}
			.head1 a{
				color:white;
				line-height: 28px;
			}
			.head_left{
				float: left;
				vertical-align:middle;
			}
			.head_right{
				float: right;
			}
			.fl{
					float: left;
			}
			.rl{
				float: right;
			}
			.navb{
				height: 50px;
					width:80%;
				background: white;
				padding: 10px 10%;
				line-height: 50px;
				display: flex;
				justify-content: space-around;
				font-size: 20px;
			}
			.navb div{
				float: left;
				vertical-align: middle;
			}
			.navb div *{
				display: inline-block;
				vertical-align: middle;
			}
			.line1{
				height: 50px;
				border: 1px solid gray;
			}
			.navb a{
				color: black;
			}
			.navb a:hover{color : red;}
  #banner{
				width:1200px;
				height:490px;
				position: relative;
				left: 200px;
				z-index:10;
				overflow:hidden;
			}
			#banner:last-child{
			   position:absolute;
			   top:-100px;
			   left:0;
			   
			}
			#banner a.ban{
				width:35px;
				height: 70px;
				background: #ddd url("../img/arrow-left.png") no-repeat center center; 
				border-radius: 5px;
				position: absolute;
				top:200px;
				visibility: hidden;
			}
			#banner a.ban_left{
				left:20px;
			}
			#banner a.ban_right{
				right: 20px;
				background: #ddd url("../img/arrow-right.png") no-repeat center center; 
				
			}
			#banner:hover .ban{
				visibility: visible;
			}
			#banner .cb{
				width: 68px;
				height: 30px;
				position: absolute;
				top:380px;
				right:200px;
				display: flex;
				justify-content: space-between;
			}
			.cb .cir{
				float: left;
				height: 15px;
				width: 15px;
				border:1px solid black;
				border-radius: 50%;
			}
			.cb .cir1{
				background: black;
			}
			.img{
			position:absolute;
			top:0;
			left:0;
			}
			#pc{
				position: absolute;
				top:510px;
				left: 250px;
				height: 120px;
				width: 1000px;
				padding: 50px;
				display: flex;
				justify-content: space-between;
				z-index: 100;
				background: white;
				box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
				border-radius:10px ;
			}
			#pc img , #pc div{
				float:left;
			}
			#pc .pcf{
				width:200px;
				float: left;
			}
			.img0{
				visibility: hidden;
			}
			.pcf:hover .img0{
				visibility: visible;
			}
			.a1{
				color:black;
			}
			.a1:hover{
				color:red;
			} 
			#pc .line0{
				height:120px;
				border-left:1px solid black ;
			}
			.bigtu img{
				width: 1345px;;
			}
			.bigtu{
				width: 1345px;
				height: 690px;
				position: relative;
				left:130px;
			}
			.bigtu .d1{
				position: absolute;
				width: 500px;
				color: white;
				font-size: 50px;
				top:300px;
				left:100px
			}
			.bigtu .d2{
				position: absolute;
				width: 300px;
				color: white;
				font-size: 20px;
				top:500px;
				left:100px
			}
			.bigtu .d2 a{
				color:white;
			}
			.bigtu .d2 a:hover #jt{
				position: absolute;
				left:110px;
			}
			.nav_num1{
				width: 1400px;
				height: 80px;
				line-height: 80px;
				float: left;
	            position: relative;
	            margin-top:50px;
							margin-left:100px;
			}
			.nav_num1 .left{
				float: left;
				font-size:60px;
				font-weight: 900;
				margin-left:100px ;
			}
			.nav_num1 .right{
				float: left;
				font-size:30px;
				position: absolute;
				top: 0;
				left:1140px;
			}
			.right a{
				color: black;
			}
			.right a:hover #jt1{
				float: right;
				position: absolute;
				left: 140px;
				top:0;
			}
			.nav_num2{
				position: relative;
				float: left;
				width: 1100px;
				height: 650px;
				margin-top:50px ;
				margin-left:240px;
				display: flex;
				justify-content: space-between;
			}
			.nav_num2 .left1{
				margin-top: 30px;
				float: left;
				width: 360px;
				height: 250px;
				background: #66ffcc;
				padding: 100px;
				border-radius:10px ;
			}
			.lj{
				margin-top: 100px;
				position: relative;
			}
			.lj a:hover .py{
				position: absolute;
				left: 100px;
			}
			.nav_num2 .cb{
				position: absolute;
				top:600px;
				left:500px;
			}
			 a.nav01{
				width:35px;
				height: 70px;
				border-radius: 5px;
				position: absolute;
				top:200px;
			}
			.nav01_left{
				background: #ddd url(../img/arrow-left.png) no-repeat center center; 
				left: -60px;
			}
			.nav01_right{
				background: #ddd url(../img/arrow-right.png) no-repeat center center; 
				right: -60px;
			}	
			.body1{
				width: 1100px;
				height: 500px;
				padding:0 240px;
				display: flex;
				justify-content: space-between;
			}	
			.body1 .cg{
				margin-top:100px; ;
				float: left;
				width: 315px;
				height: 350px;
				background: #33cccc;
				position: relative;
			}
			.cg .wenzi{
				position: absolute;
				top: 150px;
				text-indent: 30px;;
			}
			.cg .wenzi div{
				margin-top:30px;
			}
			.cg .dw1{
				color: black;
				position: relative;
			}
			.cg .cg1{
				position: absolute;
				top:-50px;
			}
			.cg:hover .cg1{
				left:-20px;
			}
		#accordion{width:100%; margin:0 auto;}
		#accordion .h3{
			background:#eee; border:1px soild #aaa;
			padding:6px; font-size:30px; 
			font-weight:bold; cursor:pointer;
			text-align:center;
		}
    #accordion .content{
      border-left:1px solid #eee;
      border-right:1px solid #eee;
    }
    #accordion>:last-child{
      border-bottom:1px solid #eee;
    }
    .hide{
      height:0;
      opacity:0;
      overflow:hidden;
			background:#ccffff;
      transition:all .5s linear;
    }
    .show{
      height:120px;
      opacity:1;
    }

			